<div class="container">
    <div class="d-flex justify-content-space-around h-100">
        <div class="searchbar">
            <input class="search_input" type="text" placeholder="Buscar">
        </div>
        <app-create-alumno></app-create-alumno>
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12"> 
            <h1 class="title-table">lista alumnos</h1>
            <div class="table-responsible">
                <table class="table table-bordred table-striped">
                    <thead>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Email</th>
                        <th>Contacto</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Mohsin</td>
                            <td>Irshad</td>
                            <td>isometric.mohsin@gmail.com</td>
                            <td>+923335586757</td>
                            <td><p><button class="btn btn-primary btn-xs">Editar</button></p></td>
                            <td><p><button class="btn btn-danger btn-xs">Eliminar</button></p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>